# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=""

# The database driver that will be used ('mysql' or 'pgsql')
DB_DRIVER="mysql"

# The database server name or IP address (usually this is 'localhost' or '127.0.0.1')
DB_SERVER="localhost"

# The database username to connect with
DB_USER="root"

# The database password to connect with
DB_PASSWORD=""

# The name of the database to select
DB_DATABASE=""

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

# The port to connect to the database with. Will default to 5432 for PostgreSQL and 3306 for MySQL.
DB_PORT=""

# The default site url (https://example.local)
DEFAULT_SITE_URL=""

# Amazon S3 credentials
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
S3_BUCKET=""
S3_BASE_URL=""

# Stripe credentials (test account)
STRIPE_TEST_PUBLIC_KEY=""
STRIPE_TEST_SECRET_KEY=""
STRIPE_TEST_WEBHOOK_SIGNING_SECRET=""

# Email credentials
SYSTEM_EMAIL_ADDRESS=""
SENDER_NAME=""
SMTP_HOST_NAME=""
SMTP_PORT=""
SMTP_USERNAME=""
SMTP_PASSWORD=""