/.env
/.idea
/vendor
.DS_Store

/config/license.key
/config/license.key.*

node_modules/
/dist

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Imager Cache
/web/imager/*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*