<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
		{% include '_components/global/doc-head' %}
	</head>

	<body>

		<div id="app" class="pt-16">

			{% include '_components/global/site-header' %}

			{% block content %}
			{% endblock %}

		</div>

		{{ craft.twigpack.includeSafariNomoduleFix() }}
		{{ craft.twigpack.includeJsModule("app.js", true) }}
		{{ craft.twigpack.includeJsModule("chunk-vendors.js", true) }}

	</body>

</html>
